.toolbar {
  display: flex;
  flex-wrap: wrap;
  grid-area: toolbar;
  justify-content: space-between;
  width: 95px;
  margin-top: 20px;

  /* height: 500px; */
  border: 1px solid #000;
}
.toolbar > button {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-bottom: 15px;
  font-size: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  user-select: none;

  border: 1px solid #000000;
}
.toolbar > button:last-child {
  margin-bottom: 0;
}
.toolbar > button:hover {
  background-color: #0cafb730;
}
.toolbar > button.selected-tool {
  background-color: #0cafb7;
}
