.frame-wrapper {
  position: relative;
  width: 132px;
}
.frame {
  background-color: beige;
  border: 2px solid #000000;
}
.selected-frame {
  border: 2px solid #0cafb7;
}
.inner-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
}
.frame-number-container {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0cafb7;
  user-select: none;
  font-weight: bold;
}
.frame-number-container:active {
  opacity: 0;
}
.delete-frame-container {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: #0cafb7;
}
.duplicate-frame-container {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 110px;
  align-items: center;
  opacity: 0;
  background-color: #0cafb7;
}
.delete-frame-container:hover, 
.duplicate-frame-container:hover {
  color: #0cafb7;
}
.frame-wrapper:hover .delete-frame-container,
.frame-wrapper:hover .duplicate-frame-container{
  opacity: 1;
}
