.tool-sizes {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0 5px 0;
}
.tool-size {
  position: absolute;
  left: -2000px;
}
.tool-size-label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #000000;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.tool-size-label:hover {
  background-color: #0cafb730;
}
.tool-size-label div {
  border: 1px solid #000000;
  background-color: #000000;
}
.tool-size-label-1 div {
  width: 5px;
  height: 5px;
}
.tool-size-label-2 div {
  width: 10px;
  height: 10px;
}
.tool-size-label-3 div {
  width: 15px;
  height: 15px;
}
.tool-size-label.selected-size {
  background-color: #0cafb7;
}
