.header {
  background-color: #ffffff;  
}
.header-container {
  height: 30px;
  font-size: 20px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title > a {
  color: #000000;
  text-decoration: none;
  user-select: none;
  font-weight: bold;
}
.title > a:hover {
  color: #0cafb7;
}
