* {
  box-sizing: border-box;
}
body {
  font-weight: bold;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: #5f5d5d;
  user-select: none;
}
.content {
  min-height: calc(100vh - 30px);
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 0 auto;
  font-size: 20px;
  background-color: #ffffff;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto 0;
}
.app-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  color: #ffffff;
}
.app-info h2 {
  margin-bottom: 10px;
  font-size: 22px;
}
.app-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #0cafb750;
}
.app-link:hover {
  background-color: #0cafb7;
}
.images-container {
  margin-bottom: 30px;
}
.gif-container {
  display: flex;
  justify-content: space-between;
}
.gif {
  border: 1px solid #000000;
}
.live-preview,
.export {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  margin-bottom: 15px;
  background-color: #d4d6d4;
}
.live-preview h3,
.export h3 {
  font-size: 22px;
  color: #0cafb7;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 0 auto;
  font-size: 20px;
  background-color: #ffffff;
}
.author-info {
  margin-right: 30px;
  font-size: 18px;
}
.author-links-container a {
  font-size: 30px;
  color: #000000;
  text-decoration: none;
}
.author-links-container a:hover {
  color: #0cafb7;
}
